.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
}

.introRow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
}

.introText {
  width: 560px;

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    color: #1D90FF;
    margin-bottom: 30px;
  }

  a {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
    color: #C51231;
  }
}

.headshotContainer {
  height: 250px;
  width: 250px;
  margin-left: 100px;
  
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.projectsContainer {
  margin-top: 150px;

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 50px;
  }

  a:hover {
    text-decoration: none;
  }
}

.projectsCard {
  width: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
  padding-left: 40px;
  color: black;

  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  .name {
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
  }

  .category {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1D90FF;
  }

  .dates {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
  }

  .description {
    font-size: 18px;
    line-height: 27px;
    margin-top: 20px;
  }

  .projectInfo {
    width: 45%;
  }

  .projectImageContainer {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }

  .projectLink {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-decoration: underline;
    margin-top: 30px;
  }
}