.aboutRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 75px;
  flex-wrap: wrap-reverse;

  @media screen and (max-width: 1000px) {
    margin-top: 50px;
  }

  .aboutImageContainer {
    width: 35%;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    @media screen and (max-width: 1000px) {
      width: 100%;
      margin-top: 15px;
    }
  }

  .aboutTextContainer {
    width: 60%;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 71px;
      color: #1D90FF;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 1000px) {
      width: 100%;
    }
  }
}

.contactContainer {
  width: 62%;
  margin-left: 19%;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 20px;
  padding: 40px;

  h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  .linksRow {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;

    a {
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
      text-decoration-line: underline;
      color: #1D90FF;
    }
  }

  @media screen and (max-width: 1000px) {
    width: 80%;
    margin-left: 10%;
    padding: 30px;
  }

  @media screen and (max-width: 650px) {
    width: 100%;
    margin-left: 0;
    padding: 20px;
  }
}