.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #C4C4C4;
  padding: 20px 0 20px 0;

  a {
    color: black;
  }

  a:hover {
    text-decoration: none;
  }
}

.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  margin-left: 5%;
}

ul {
  display: flex;
  margin-bottom: 0;

  li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    a {
      color: black;
    }

    a:hover {
      color: black;
    }
  }
}

.lightsaberContainer {
  margin-right: 5%;
  width: 30px;
  height: 30px;

  img {
    width: 100%;
  }
}